version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - '3030:3030'
    command: npm run dev
